<div class="jumbotron" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')"></div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card mb-4 bg-light rounded">
        <div class="card-body">
          <h1 class="card-title"><%= @flat.name %></h1>
          <p class="card-text"><%= @flat.address %></p>
        </div>
      </div>
      <div class="card bg-light rounded">
        <div class="card-body">
          <h3 class="card-title">A bit more about this flat...</h3>
          <p class="card-text"><%= @flat.description %></p>
          <div class="map"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-light mb-4 rounded">
        <div class="card-body">
          <h5 class="card-title">Book this place!</h5>
          <%= form_with(url: "/flats/#{@flat.id}", method: "get") do %>
            <%= label_tag(:from, "From:") %>
            <%= date_field(:from, :from) %>
            <%= label_tag(:to, "To:") %>
            <%= date_field(:to, :to) %>
            <%= submit_tag("Search") %>
          <% end %>
        </div>
      </div>
      <div class="card bg-light mb-4 rounded">
        <div class="card-body">
          <h3 class="card-title">Details</h3>
          <div class="flex">
            <p class="card-text"><%= @flat.number_of_guests %> people</p>
          </div>
          <div class="flex">
            <p class="card-text"><%= @flat.price_per_night %> euros</p>
          </div>
        </div>
      </div>
      <div class="card bg-light rounded">
        <div class="card-body">
          <div class="flex-align">
            <h6 class="no-mb">Share</h6>
            <div class="flex">
              <i class="fa fa-facebook-square fa-2x mr-2"></i>
              <i class="fa fa-twitter-square fa-2x mr-2"></i>
              <i class="fa fa-pinterest-square fa-2x mr-2"></i>
              <i class="fa fa-envelope-square fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
