<!DOCTYPE html>
<html>
  <head>
    <title>Simple Airbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <nav class="navbar bg-light border-bottom">
      <%= link_to "Simple Airbnb", flats_path, class: "navbar-brand" %>
      <div class="d-flex">
        <form class="form-inline">
          <input class="form-control mr-sm-2 rounded" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 rounded" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <%= link_to "New Flat", new_flat_path, class: "btn btn-outline-primary rounded ml-2" %>
      </div>
    </nav>
    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
